body {
    font-family: arial;
    background: white;
    color:black;
    text-align: left;
  }
  h1{
    font-family: castellar;
    background: turquoise;
    color: black;
    text-align: left;
    }
  
  h2{
    font-family: castellar;
    background: turquoise;
    color: black;
    text-align: left;
    }
    
   h3{
    font-family: castellar;
    background: white;
    color: black;
    text-align: left;
    }